Node-redBitCoin/BitCoin.json
[{"id":"d8db9e97.39cff","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4ea1f41d.a2836c","type":"inject","z":"d8db9e97.39cff","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":170,"y":220,"wires":[["58d69e31.20e0a"]]},{"id":"1389710c.d317df","type":"function","z":"d8db9e97.39cff","name":"Line","func":"msg.headers = {\n    'content-type':'application/x-www-form-urlencoded',\n    'Authorization':'Bearer SAkI3jSHKhh8w87U5bzOPzGfYoVV8bxLwMlD7YShW2w'\n};\nmsg.payload = {\n    \"message\":msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":220,"wires":[["7e5c8aae.d76fb4"]]},{"id":"7e5c8aae.d76fb4","type":"http request","z":"d8db9e97.39cff","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://notify-api.line.me/api/notify","tls":"","persist":false,"proxy":"","authType":"","x":910,"y":220,"wires":[[]]},{"id":"e481024f.1fd7","type":"function","z":"d8db9e97.39cff","name":"BitCoin","func":"var message =  \"\\n ภณ โมรินทร์ 6121910839\"+\"\\n\";\n    message += \" --💸Welcome to BitCoin Market💸-- \"+\"\\n\";\n    message += \"BTCUSD: \" + msg.payload.USD.last+\" $\"+\"\\n\";\n    message += \"BTEUR: \"+msg.payload.EUR.last+\" €\";\n    message += \"\\nBTCNY: \"+msg.payload.CNY.last+\" ¥\";\n    message += \"\\nBTTHB: \"+msg.payload.THB.last+\" ฿\";\nmsg.payload = message\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["1389710c.d317df"]]},{"id":"58d69e31.20e0a","type":"http request","z":"d8db9e97.39cff","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"https://blockchain.info/ticker","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":220,"wires":[["840d8550.5a9468","e481024f.1fd7"]]},{"id":"840d8550.5a9468","type":"debug","z":"d8db9e97.39cff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":450,"y":60,"wires":[]}]