Save_Text/Save_Text_File.json
[{"id":"8c8f6b63.f0e538","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e0e781c4.5e814","type":"tcp in","z":"8c8f6b63.f0e538","name":"","server":"server","host":"","port":"1234","datamode":"stream","datatype":"utf8","newline":"","topic":"IOT","base64":false,"x":100,"y":220,"wires":[["f5ea902e.288f9"]]},{"id":"8664e657.889048","type":"debug","z":"8c8f6b63.f0e538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"64813a04.a05ca4","type":"file","z":"8c8f6b63.f0e538","name":"","filename":"C:\\Users\\ponm2\\Desktop\\Hello\\Test.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":590,"y":200,"wires":[[]]},{"id":"f5ea902e.288f9","type":"function","z":"8c8f6b63.f0e538","name":"","func":"Date.prototype.yyyymmdd = function() {\n  var yyyy = this.getFullYear();\n  var mm = this.getMonth() < 9 ? \"0\" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based\n  var dd = this.getDate() < 10 ? \"0\" + this.getDate() : this.getDate();\n  return \"\".concat(yyyy).concat(mm).concat(dd);\n};\n\nDate.prototype.yyyymmddhhmm = function() {\n  var yyyymmdd = this.yyyymmdd();\n  var hh = this.getHours() < 10 ? \"0\" + this.getHours() : this.getHours();\n  var min = this.getMinutes() < 10 ? \"0\" + this.getMinutes() : this.getMinutes();\n  return \"\".concat(yyyymmdd).concat(hh).concat(min);\n};\n\nDate.prototype.yyyymmddhhmmss = function() {\n  var yyyymmddhhmm = this.yyyymmddhhmm();\n  var ss = this.getSeconds() < 10 ? \"0\" + this.getSeconds() : this.getSeconds();\n  return \"\".concat(yyyymmddhhmm).concat(ss);\n};\n\nvar d = new Date();\nmsg.payload = d.yyyymmddhhmmss()+\"|\"+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":140,"wires":[["8664e657.889048","64813a04.a05ca4","70806438.fd0cfc"]]},{"id":"601a8be3.82b7f4","type":"inject","z":"8c8f6b63.f0e538","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"button=ON|temp=25","payloadType":"str","x":150,"y":140,"wires":[["f5ea902e.288f9"]]},{"id":"cac1f33.abf011","type":"ui_button","z":"8c8f6b63.f0e538","name":"","group":"34f1e2e3.85e71e","order":1,"width":0,"height":0,"passthru":false,"label":"Reset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"Clear","payloadType":"str","topic":"Clear","x":270,"y":320,"wires":[["70806438.fd0cfc"]]},{"id":"70806438.fd0cfc","type":"ui_text","z":"8c8f6b63.f0e538","group":"34f1e2e3.85e71e","order":1,"width":"6","height":"10","name":"","label":"ITO : ","format":"{{msg.payload}}","layout":"row-right","x":470,"y":280,"wires":[]},{"id":"5484ee82.ff766","type":"inject","z":"8c8f6b63.f0e538","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":420,"wires":[["5cdc8f52.ba564"]]},{"id":"5cdc8f52.ba564","type":"debug","z":"8c8f6b63.f0e538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":420,"wires":[]},{"id":"649066f.9f0ff98","type":"inject","z":"8c8f6b63.f0e538","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Test","payloadType":"str","x":210,"y":520,"wires":[["ff5f664c.e3b3a8"]]},{"id":"ff5f664c.e3b3a8","type":"mqtt out","z":"8c8f6b63.f0e538","name":"","topic":"Topic1","qos":"","retain":"","broker":"4e7b2ee1.de218","x":400,"y":520,"wires":[]},{"id":"99ea43cb.a26c9","type":"mqtt in","z":"8c8f6b63.f0e538","name":"","topic":"Topic1","qos":"2","datatype":"auto","broker":"4e7b2ee1.de218","x":570,"y":520,"wires":[["af182f6c.0389f","edfb8210.9f5b1"]]},{"id":"af182f6c.0389f","type":"debug","z":"8c8f6b63.f0e538","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":520,"wires":[]},{"id":"edfb8210.9f5b1","type":"function","z":"8c8f6b63.f0e538","name":"","func":"Date.prototype.yyyymmdd = function() {\n  var yyyy = this.getFullYear();\n  var mm = this.getMonth() < 9 ? \"0\" + (this.getMonth() + 1) : (this.getMonth() + 1); // getMonth() is zero-based\n  var dd = this.getDate() < 10 ? \"0\" + this.getDate() : this.getDate();\n  return \"\".concat(yyyy).concat(mm).concat(dd);\n};\n\nDate.prototype.yyyymmddhhmm = function() {\n  var yyyymmdd = this.yyyymmdd();\n  var hh = this.getHours() < 10 ? \"0\" + this.getHours() : this.getHours();\n  var min = this.getMinutes() < 10 ? \"0\" + this.getMinutes() : this.getMinutes();\n  return \"\".concat(yyyymmdd).concat(hh).concat(min);\n};\n\nDate.prototype.yyyymmddhhmmss = function() {\n  var yyyymmddhhmm = this.yyyymmddhhmm();\n  var ss = this.getSeconds() < 10 ? \"0\" + this.getSeconds() : this.getSeconds();\n  return \"\".concat(yyyymmddhhmm).concat(ss);\n};\n\nvar d = new Date();\nmsg.payload = d.yyyymmddhhmmss()+\"|\"+msg.payload;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":580,"wires":[["e52828f9.842918"]]},{"id":"e52828f9.842918","type":"file","z":"8c8f6b63.f0e538","name":"","filename":"C:\\Users\\ponm2\\Desktop\\Hello\\Test.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":930,"y":580,"wires":[[]]},{"id":"34f1e2e3.85e71e","type":"ui_group","name":"Default","tab":"83554dae.8aea","order":1,"disp":true,"width":"6","collapse":false},{"id":"4e7b2ee1.de218","type":"mqtt-broker","name":"LocalHost","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"83554dae.8aea","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]