file_Node-red/All_Program.json
[{"id":"4b100169.2ab42","type":"tab","label":"All_Program","disabled":true,"info":""},{"id":"65d38511.fa92ec","type":"mqtt out","z":"4b100169.2ab42","name":"","topic":"LED/ON-OFF","qos":"","retain":"","broker":"4e7b2ee1.de218","x":520,"y":160,"wires":[]},{"id":"a225a978.2f2288","type":"mqtt out","z":"4b100169.2ab42","name":"","topic":"LED/ON-OFF","qos":"","retain":"","broker":"4e7b2ee1.de218","x":520,"y":200,"wires":[]},{"id":"7a18d8cc.406888","type":"mqtt in","z":"4b100169.2ab42","name":"","topic":"room/temperature","qos":"2","datatype":"auto","broker":"4e7b2ee1.de218","x":310,"y":400,"wires":[["de4277cc.fb4e68"]]},{"id":"3e2699f4.7e1196","type":"mqtt in","z":"4b100169.2ab42","name":"","topic":"room/humidity","qos":"2","datatype":"auto","broker":"4e7b2ee1.de218","x":290,"y":460,"wires":[["d1005ed6.a822f"]]},{"id":"59267445.36706c","type":"mqtt in","z":"4b100169.2ab42","name":"","topic":"room/fahrenheit","qos":"2","datatype":"auto","broker":"4e7b2ee1.de218","x":300,"y":520,"wires":[["114d9b49.55a7a5"]]},{"id":"de4277cc.fb4e68","type":"ui_gauge","z":"4b100169.2ab42","name":"","group":"8970bcca.387f3","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":400,"wires":[]},{"id":"d1005ed6.a822f","type":"ui_gauge","z":"4b100169.2ab42","name":"","group":"9a1c925.6a5a27","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":460,"wires":[]},{"id":"114d9b49.55a7a5","type":"ui_gauge","z":"4b100169.2ab42","name":"","group":"d1cc398c.edd3e8","order":2,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":490,"y":520,"wires":[]},{"id":"eb01608f.11fcf","type":"ui_switch","z":"4b100169.2ab42","name":"","label":"ON/OFF_LED","tooltip":"","group":"a4f79a1a.d4ee48","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":300,"y":160,"wires":[["65d38511.fa92ec"]]},{"id":"f8477865.4ce378","type":"ui_slider","z":"4b100169.2ab42","name":"","label":"slider_LED","tooltip":"","group":"a4f79a1a.d4ee48","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"LED/ON-OFF","min":0,"max":"255","step":1,"x":290,"y":200,"wires":[["a225a978.2f2288"]]},{"id":"f1d52ac0.dfcdc8","type":"mqtt in","z":"4b100169.2ab42","name":"","topic":"Button","qos":"2","datatype":"auto","broker":"4e7b2ee1.de218","x":270,"y":600,"wires":[["b48f4902.c5a678"]]},{"id":"b48f4902.c5a678","type":"ui_text","z":"4b100169.2ab42","group":"af19cba0.aa5568","order":3,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":490,"y":600,"wires":[]},{"id":"2e5ab102.3a1f4e","type":"ui_text_input","z":"4b100169.2ab42","name":"","label":"","tooltip":"","group":"7dc8211f.da5a7","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":290,"y":680,"wires":[["a1522819.1dff28"]]},{"id":"a1522819.1dff28","type":"mqtt out","z":"4b100169.2ab42","name":"","topic":"OLED","qos":"","retain":"","broker":"4e7b2ee1.de218","x":490,"y":680,"wires":[]},{"id":"82e508b.5daaef8","type":"ui_button","z":"4b100169.2ab42","name":"","group":"a4f79a1a.d4ee48","order":4,"width":0,"height":0,"passthru":false,"label":"Get","tooltip":"","color":"","bgcolor":"","icon":"","payload":"GET","payloadType":"str","topic":"","x":270,"y":240,"wires":[["65d38511.fa92ec"]]},{"id":"61623158.c817b","type":"mqtt in","z":"4b100169.2ab42","name":"","topic":"LED/ON-OFF","qos":"2","datatype":"auto","broker":"4e7b2ee1.de218","x":280,"y":300,"wires":[["9e52b331.3f1ba"]]},{"id":"9e52b331.3f1ba","type":"ui_text_input","z":"4b100169.2ab42","name":"","label":"","tooltip":"","group":"a4f79a1a.d4ee48","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":510,"y":300,"wires":[[]]},{"id":"4e7b2ee1.de218","type":"mqtt-broker","name":"LocalHost","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8970bcca.387f3","type":"ui_group","name":"Tem","tab":"26bfcd82.189322","order":3,"disp":true,"width":"6","collapse":false},{"id":"9a1c925.6a5a27","type":"ui_group","name":"Hum","tab":"26bfcd82.189322","order":4,"disp":true,"width":"6","collapse":false},{"id":"d1cc398c.edd3e8","type":"ui_group","name":"Fah","tab":"26bfcd82.189322","order":5,"disp":true,"width":"6","collapse":false},{"id":"a4f79a1a.d4ee48","type":"ui_group","name":"Default","tab":"26bfcd82.189322","order":1,"disp":true,"width":"6","collapse":false},{"id":"af19cba0.aa5568","type":"ui_group","name":"Button","tab":"26bfcd82.189322","order":6,"disp":true,"width":"6","collapse":false},{"id":"7dc8211f.da5a7","type":"ui_group","name":"OLED","tab":"26bfcd82.189322","order":2,"disp":true,"width":"6","collapse":false},{"id":"26bfcd82.189322","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]