file_Node-red/Led_Button.json
[{"id":"d567a024.f008f","type":"tab","label":"Led_Button","disabled":false,"info":""},{"id":"f2560306.1deec","type":"mqtt out","z":"d567a024.f008f","name":"","topic":"LED/ON-OFF","qos":"","retain":"","broker":"4e7b2ee1.de218","x":540,"y":120,"wires":[]},{"id":"930c4b68.e8eb88","type":"ui_switch","z":"d567a024.f008f","name":"","label":"ON/OFF_LED","tooltip":"","group":"a4f79a1a.d4ee48","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":320,"y":120,"wires":[["f2560306.1deec"]]},{"id":"3c02d8d7.90b5b8","type":"ui_button","z":"d567a024.f008f","name":"","group":"a4f79a1a.d4ee48","order":4,"width":0,"height":0,"passthru":false,"label":"Get","tooltip":"","color":"","bgcolor":"","icon":"","payload":"GET","payloadType":"str","topic":"","x":290,"y":200,"wires":[["f2560306.1deec"]]},{"id":"245fb530.0c653a","type":"ui_text_input","z":"d567a024.f008f","name":"","label":"","tooltip":"","group":"a4f79a1a.d4ee48","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":540,"y":260,"wires":[[]]},{"id":"581349e7.bbeb48","type":"mqtt in","z":"d567a024.f008f","name":"","topic":"LED/ON-OFF","qos":"2","datatype":"auto","broker":"4e7b2ee1.de218","x":310,"y":260,"wires":[["245fb530.0c653a"]]},{"id":"4e7b2ee1.de218","type":"mqtt-broker","name":"LocalHost","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a4f79a1a.d4ee48","type":"ui_group","name":"Default","tab":"26bfcd82.189322","order":1,"disp":true,"width":"6","collapse":false},{"id":"26bfcd82.189322","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]